.btn {
  width: 50px;
  height: 30px;
  border: none;
  outline: none;
  margin-right: 5px;
  cursor: pointer;

  &.blue {
    background-color: #4263eb;
    color: #fff;
  }
  &.skyBlue {
    background-color: #dbe4ff;
  }
}

.select-group {
  display: inline;
}
select {
  width: 100px;
  height: 30px;
  background: #f8f9fa;
  border-radius: 3px;
  border: 1px solid;

  &.modal_select {
    width: 100%;
  }
}
